@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    width: 100%;
    margin-top: 40px;
}
.footer__div {
    padding-top: 36px;
    padding-bottom: 53px;
    background: #2B2E3C;
    display: flex;
    flex-direction: column;
    row-gap: 53px;
}
.footer__div__links {
    max-width: 1411px;
    width: 1411px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer__div__links__p1,
.footer__div__links__p2 ,
.footer__div__links__p3 {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}
.footer__div__links__p1 > a,
.footer__div__links__p2 > a,
.footer__div__links__p3 > a
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    opacity: .8;
}
.footer__div__links__p1 > span,
.footer__div__links__p2 > span,
.footer__div__links__p3 > span,
.footer__div__links__email > p {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    font-family: 'Roboto';    
}
.footer__div__links__email {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.footer__div__links__email > a {
    width: 200px;
}
.footer__div__links__email__input > input {
    padding: 20px 40px 20px 25px;
    background: #fff;
    border-radius: 8px;
    width: 323.57px;
    outline: none;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #878991;
}
.footer__div__links__email__input > a {
    transition: .3s;
    position: relative;
    left: -40px;
    padding: 16px 40px;
    background: #2B2E3C;
    border-radius: 12px;
    font-family: 'Roboto';
    border: 1px solid #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}
.footer__div__links__email__input > a:hover {
    left: -30px;
}
.footer__div__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1411px;
    width: 1411px;
    margin: 0 auto;
}
.footer__div__copyright__span {
    width: 394px;
    height: 0px;
    border: 4px solid #fff;
    border-radius: 20px;
}
.footer__div__copyright__body {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.footer__div__copyright__body > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
}
.footer__div__copyright__body__social {
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.footer__div__copyright__body__social > a > svg > path {
    fill: #fff;
}
.footer__div__copyright__body__social > a {
    transition: .3s;
}
.footer__div__copyright__body__social > a:hover {
    transform: translate(0px,-5px);
}
@media screen and (max-width: 1450px) {
    .footer__div__copyright,
    .footer__div__links {
        max-width: unset;
        padding: 0 30px;
        width: 100%;
    }
}
@media screen and (max-width: 1250px) {
    .footer__div__copyright__span {
        width: 320px;
    }
}
@media screen and (max-width: 1110px) {
    .footer__div__links {
        column-gap: 30px;
        flex-wrap: wrap;
    }
    .footer__div__copyright__span {
        width: 250px;
    }
}
@media screen and (max-width: 1033px) {
    .footer__div__links {
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 950px) {
    .footer__div__copyright__span {
        width: 160px;
    }
}
@media screen and (max-width: 760px) {
    .footer__div__copyright__span {
        width: 100px;
    }
}
@media screen and (max-width: 650px) {
    .footer__div__copyright__span {
        width: 60px;
    }
}
@media screen and (max-width: 550px) {
    .footer__div__copyright__span {
        display: none;
    }
    .footer__div__copyright__body {
        width: 100%;
        column-gap: 0px;
        justify-content: space-between;
    }
    .footer__div__links__email__input > a {
        padding: 10px 30px;
        font-size: 14px;
    }
    .footer__div__links__email__input > input {
        padding: 20px 20px 20px 25px;
        width: 253.57px;
    }    
}
@media screen and (max-width: 526px) {
    .footer__div__links {
        row-gap: 20px;
    }
    .footer__div__links__email {
        align-items: center;
    }
}
@media screen and (max-width: 440px) {
    .footer__div__links__email__input > input {
        padding: 20px 20px 20px 15px;
        width: 200.57px;
    }
}
@media screen and (max-width: 386px) {
    .footer__div__links__email__input > a {
        padding: 5px 15px;
        font-size: 13px;
    }
    .footer__div__links__email__input > input {
        padding: 15px 10px 15px 15px;
        width: 200px;
    }
    .footer__div__copyright__body {
        flex-direction: column-reverse;
        row-gap: 10px;
    }
    .footer__div {
        padding-top: 20px;
        padding-bottom: 10px;
    }    
}
@media screen and (max-width: 350px) {
    .footer__div__links__email__input > input {
        font-size: 14px;
        width: 180px;
    }
}
@media screen and (max-width: 344px) {
    .footer__div__links__p1 {
        width: 146px;
    }
}
@media screen and (max-width: 330px) {
    .footer__div__links__email__input > input {
        width: 165px;
    }
}