@import url("https://rsms.me/inter/inter.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap');
:root {
  --color-gray: #737888;
  --color-lighter-gray: #e3e5ed;
  --color-light-gray: #f7f7fa;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
    width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
}

h1 {
  margin-bottom: 1rem;
}

p {
  color: var(--color-gray);
}

hr {
  height: 1px;
  width: 100%;
  background-color: var(--color-light-gray);
  border: 0;
  margin: 2rem 0;
}

section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 56px;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.container__main {
    padding-right: 50px;
    border-right: 1px solid lightgray;
}

.form {
  display: grid;
  grid-gap: 1rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-lighter-gray);
  padding: .5rem;
  border-radius: .25rem;
}

.field__label {
  color: var(--color-gray);
  font-size: 0.6rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.field:focus-within {
  border-color: #000;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}
.fields--2 {
  grid-template-columns: 1fr 1fr;
}
.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 13px;
    background-color: #333;
    text-transform: uppercase;
    display: block;
    color: #fff;
    width: 200px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #333;
    transition: .3s;
    cursor: pointer;
    outline: 0;
}
.button:focus-visible {
  background-color: #333;
}
.button:hover {
    transform: translate(0px , -5px);
    background-color: #fff;
    color: #333;
}

.cart__and__sum {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    background-color: #fff;
}
.items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 10px;
    padding-right: 7px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
}
.item {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.item__img {
    position: relative;
    height: 64px;
    width: 64px;
}
.item__img > img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.item__img > div {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #737888;
    border-radius: 50%;
    color: #fff;
}
.item > p {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    width: 262px;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */
}
.item > span {
    font-weight: 600;
    font-size: 14px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 120px;
    white-space: nowrap;
}
.subtotal__and__shipping {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
    width: 100%;
}
.subtotal__and__shipping__first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.subtotal__and__shipping__second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.subtotal__and__shipping__first > p,
.subtotal__and__shipping__second > p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    color: #333;
}
.subtotal__and__shipping__first > span,
.subtotal__and__shipping__second > span {
    font-weight: 600;
    font-size: 14px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 120px;
    white-space: nowrap;
}
.totoal {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.totoal > p {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    color: #000;
}
.totoal > span {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 120px;
    white-space: nowrap;
}

.credit__card {
    display: flex;  
    flex-direction: column;
    row-gap: 1rem;
    width: 643px;
}
.credit__card .fields--3 {
    display: flex;
    justify-content: space-between;
}
.credit__card__pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.return {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: none;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}
.return > svg {
    width: 20px;
    height: 20px;
}
.return > span {
    font-weight: 600;
    font-size: 14px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 173px;
    white-space: nowrap;
}
.button__pay {
    margin: unset;
    width: 100px;
    padding: .5rem;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 13px;
    background-color: #333;
    text-transform: uppercase;
    display: block;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #333;
    transition: .3s;
    cursor: pointer;
    outline: 0;
}
.button__pay:focus-visible {
  background-color: #333;
}
.button__pay:hover {
    transform: translate(0px , -5px);
    background-color: #fff;
    color: #333;
}
@media screen and (max-width: 1300px) {
    section {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        max-width: unset;
        margin: unset;
    }
    .container__main,
    .credit__card {
        width: 100%;
    } 
}
@media screen and (max-width: 1050px) {
    .item > p {
        width: 172px;
    }
}
@media screen and (max-width: 830px) {
    .container__main {
        padding-right: 20px;
    }
    .cart__and__sum {
        margin-left: 20px;
    }
}
@media screen and (max-width: 770px) {
    .credit__card__pay {
        flex-direction: column-reverse;
        row-gap: 20px;
    }
}
@media screen and (max-width: 700px) {
    section {
        flex-direction: column;
        row-gap: 20px;
        justify-content: unset;
        padding-top: 30px;
    }
    .cart__and__sum {
        margin-left: 0;
        padding-bottom: 20px;
        width: 100%;
    }
    .items {
        width: 100%;
        max-height: 170px;
    }
    .item {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .item > p {
        width: 262px;
    }
    .container__main {
        padding-right: 0;
        border-right: unset;
    }
}
@media screen and (max-width: 506px) {
    .item > p {
        width: 172px;
    }
}
@media screen and (max-width: 430px) {
    .items {
        display: none;
    }
    
}