*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.body__toggle {
    overflow: hidden !important;
    overflow-y: hidden !important;
    position: relative;
}
.epmty {
    overflow: hidden !important;
    position: absolute;
    background: #555; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    z-index: 2;
}
/* Wrapper Start */
.wrapper{
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left: 30px;
    max-width: 365px;
    background: #fff;
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
    text-align: center;
}
.wrapper.hide{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
}
/* ::selection{
    color: #fff;
    background: #7E7FD7;
} */
.wrapper img{
    max-width: 90px;
}
.content header{
    font-size: 25px;
    font-weight: 600;
}
.content{
    margin-top: 10px;
}
.content p{
    color: #858585;
    margin: 5px 0 20px 0;
}
.content .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons button{
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: #2B2E3C;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons button:hover{
    transform: scale(0.97);
}
.buttons .item{
    margin: 0 10px;
}
.buttons a{
    color: #2B2E3C;
}
/* Wrapper End */
/* Slick Slider */
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
/* End Slick Slider */

/*---------------------|Main|---------------------*/
main {
    padding-top: 77px;
}
/*---------------------|End Main|---------------------*/
/*---------------------|First Block|---------------------*/
.first__block__sec {
    max-width: 1440px;
    margin: 0 auto;
}
.first__block {
    position: relative;
}
.first__block__content.slick-slide {
    position: relative !important;
    background-color: #fff !important;
    /* width: 1440px !important; */
    height: 500px !important;
}
.first__block__content > span {
    width: 100%;
    height: 100%;
}
.first__block__content > span > img  {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.first__block__content__text {
    position: absolute;
    bottom: 40%;
    left: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    z-index: 3;
    align-content: flex-start;
}
.first__block__content__text > span:nth-child(1) {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    color: #fff;
}
.first__block__content__text > span:nth-child(2) {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    opacity: .8;
}
.first__block__content__text > a {
    width: 156.79px;
    height: 39.94px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 13.3671px;
    line-height: 16px;
    transition: .3s;
    text-align: center;
    color: #282828;
}
.first__block__content__text > a:hover {
    transform: translate(20px, 0px);
    background-color: transparent;
    color: #fff;
}

.first__block .slick-list {
    overflow: hidden !important;
}
/* Лента слайдов */
.first__block .slick-track{
    display: flex !important;
}
/* Точки (булиты) */
.first__block .slick-dots{
    position: absolute !important;
    left: 125px !important;
    bottom: 33px !important;
    width: 210px !important; 
    display: flex !important;
    align-items: center !important;
    column-gap: 10px !important;
}
.first__block .slick-dots li{
    list-style: none !important;
    position: unset !important;
    display: unset !important;
    width: unset !important;
    height: unset !important;
    margin: unset !important;
    padding: unset !important;
    cursor: unset !important;    
}
.first__block .slick-dots li button{
    cursor: pointer !important;
    font-size: 0px !important;
    width: 45px !important;
    height: 10px !important;
    transition: .3s;
    background-color: #fff !important;
    border: 1px solid #fff !important;
    outline: none !important;
    border-radius: 10px !important;
}
.first__block .slick-dots li button:before {
    content: unset !important;
}
.first__block .slick-dots li button:hover {
    background-color: transparent !important;
    opacity: .9 !important;
}
.first__block .slick-dots li.slick-active button {
    background-color: transparent !important;
}
/*---------------------|End First Block|---------------------*/
/*---------------------|Items|---------------------*/
.items {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}
.items > span {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
    text-transform: uppercase;
    color: #282828;
}
.items__main {
    display: flex;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.items__main__item {
    display: flex;
    flex-direction: column;
    width: 320px;
    row-gap: 10px;
} 
.items__main__item > span {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.items__main__item__img > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.items__main__item > a:nth-child(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 79px;
    color: #282828;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
.items__main__item__img {
    position: relative;
}
.items__main__item__menu {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    bottom: 20px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    transform: translate(0px, 10px);     
}
.items__main__item__img:hover > .items__main__item__menu {
    transform: translate(0px , 0px);
    visibility: visible;
    opacity: 1;
}
/* 
    transform: translate(0px , 0px);
    visibility: visible;
    transition: .5s; 
    opacity: 1;
*/
.items__main__item__menu > a > i {
    transition: .5s;
    color: #282828;
    font-size: 20px;
}
.items__main__item__menu > a {
    transition: .5s;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}
.items__main__item__menu > a:hover {
    background-color: transparent;
    transform: translate(0px , -10px);
}
.items__main__item__menu > a:hover > i {
    color: #fff;
}

.items__main__item__menu__cart > i,
.items__main__item__menu__eye > i {
    transition: .5s;
    color: #282828;
    font-size: 20px;
}
.items__main__item__menu__cart,
.items__main__item__menu__eye{
    transition: .5s;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 10px;
}
.items__main__item__menu__cart:hover,
.items__main__item__menu__eye:hover {
    background-color: transparent;
    transform: translate(0px , -10px);
}
.items__main__item__menu__cart:hover > i,
.items__main__item__menu__eye:hover > i {
    color: #fff;
}

.items__main__item__img > div > img {
    border-radius: 5px;
    transition: .3s;
}
.items__main__item__img:hover > a > img {
    transform: scale(1.05);
}
/*---------------------|End Items|---------------------*/

/*---------------------|Comments|---------------------*/
.comments {
    max-width: 1920px;
    margin: 30px auto;
}
.comm_user_name {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
    margin-bottom: 13px;
}

.comm_user_desc {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    text-transform: capitalize;
    color: #333333;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 65px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* .comm_user_desc {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    text-transform: capitalize;
    color: #333333;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 65px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
} */
.comm_blocks_element {
    margin-left: 70px !important;
    display: flex !important;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #2B2E3C;
    row-gap: 20px;
    width: 385px !important;
    height: 248px !important;
    transition: .7s;
    padding: 35px 35px 38px 35px;
}
.comm_blocks_element > p {
    max-height: 76px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.comm_blocks_element:hover {
    box-shadow: rgba(43, 46, 60, 0.4) -5px 5px, rgba(43, 46, 60, 0.3) -10px 10px, rgba(43, 46, 60, 0.2) -15px 15px, rgba(43, 46, 60, 0.1) -20px 20px, rgba(43, 46, 60, 0.05) -25px 25px;
}
.comm_blocks .slick-track {
    height: 280px;
    display: flex !important;
    align-items: center !important;
}
.comm_blocks_name {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.comm_blocks_name_text > span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #282828;
}
.comm_blocks_name_text > p,
.comm_blocks > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #282828;
    opacity: 0.7;
}
.comm_blocks_name_div {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.comm_blocks_name_div > a {
    border-radius: 10px;
    width: 74px;
    height: 80px;
}
.comm_blocks_name_div > a > img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.comm_blocks_name_text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.comm_blocks_name > a {
    background: #2B2E3C;
    border-radius: 5px;
    border: 1px solid #2B2E3C;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    transition: .5s;
    justify-content: center;
}
.comm_blocks_name > a > i {
    color: #fff;
    transition: .3s;
}
.comm_blocks_name > a:hover {
    background-color: transparent;
    transform: translate(10px,0px);
}
.comm_blocks_name > a:hover > i{
    color: #2B2E3C;
}
/*---------------------|End Comments|---------------------*/

/*---------------------|Quick View|---------------------*/
.items__main__item__menu__tab {
    display: flex;
    position: fixed;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    top: 50%  !important;
    left: 50% !important;
    transform: translate(0px , 100%);
    transition: .5s;
}
.items__main__item__menu__tab__active {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translate(-50%, -50%) !important;
}
.items__main__item__menu__tab__img {
    width: 583px;
    height: 583px;
}
.items__main__item__menu__tab__img > div > div > a{
    /* width: 583px !important; */
    height: 583px !important;
}
.items__main__item__menu__tab__img .slick-slide > img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}
.items__main__item__menu__tab__text {
    position: relative;
    width: 427px;
    height: 583px;
    padding: 30px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    row-gap: 20px;
}
.items__main__item__menu__tab__text__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 6px;
}
.items__main__item__menu__tab__text__text > a {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Roboto';
    color: #282828;
    font-size: 17px;
    font-weight: 800;
}
.items__main__item__menu__tab__text__text > span {
    font-family: 'Roboto';
    color: #282828;
    font-size: 22px;
    font-weight: 800;
    opacity: .8;
}
.items__main__item__menu__tab__text__text > p {
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */
    margin-top: 30px;
    font-family: 'Roboto';
    color: #696969;
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
}
.items__main__item__menu__tab__text__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.items__main__item__menu__tab__text__count__plus > svg > path ,
.items__main__item__menu__tab__text__count__minus > svg > path {
    fill: #000 !important;
}
.items__main__item__menu__tab__text__count > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #282828;
    padding: 0px 15px;
    width: 120px;
    opacity: .9;
    border-radius: 50px;
}
.items__main__item__menu__tab__text__count > div:nth-child(1) > button {
    border: none;
    outline: none;
    background: transparent;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.items__main__item__menu__tab__text__count > div:nth-child(1) > input {
    width: 35px;
    height: 38px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    color: #282828;
    text-align: center;
}
.items__main__item__menu__tab__text__count > :nth-child(2) {
    outline: none;
    border: 1px solid #282828;
    background-color: #282828;
    padding: 5px 25px;
    border-radius: 25px;
    font-weight: 300;
    width: 160px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    opacity: .9;
}
.items__main__item__menu__tab__text__count > :nth-child(2):hover {
    background-color: #fff;
    color: #282828;
    transform: translate(0px , -5px);
}
.items__main__item__menu__tab__text__count > :nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #282828;
    width: 40px;
    outline: none;
    background-color: transparent;
    border-radius: 100px;
    font-size: 15px;
    transition: .3s;
    cursor: pointer;
    color: #282828;
    opacity: .9;
}
.items__main__item__menu__tab__text__count > :nth-child(3):hover {
    background-color: #282828;
    color: #fff;
    transform: translate(0px , -5px);
}
.items__main__item__menu__tab__text__shipping__items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.items__main__item__menu__tab__text__shipping__items::-webkit-scrollbar {
    width: 0px;
}
/* Track */
.items__main__item__menu__tab__text__shipping__items::-webkit-scrollbar-track {
    background: transparent; 
}
   
  /* Handle */
.items__main__item__menu__tab__text__shipping__items::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
.items__main__item__menu__tab__text__shipping__items::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.items__main__item__menu__tab__text__shipping__items > div{
    border-top: 1px solid #696969;
    padding-top: 10px;
}
.items__main__item__menu__tab__text__shipping__items > div > div > button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.items__main__item__menu__tab__text__shipping__items > div > div > button > svg {
    width: 12.5px;
    height: 12.5px;
    opacity: .7;
    fill: #282828;
    transition: .3s;
}
.items__main__item__menu__tab__text__shipping__items > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.items__main__item__menu__tab__text__shipping__items__shipping__div {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.items__main__item__menu__tab__text__shipping__items__shipping__div > p {
    font-family: 'Roboto';
    color: #282828;
    font-size: 18px;
    font-weight: 900;
}
.items__main__item__menu__tab__text__shipping__items__shipping__div > span > svg {
    width: 30px;
    height: 30px;
}
.items__main__item__menu__tab__text__shipping__items__shipping__main {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
.items__main__item__menu__tab__text__shipping__items__shipping__main > p {
    font-family: 'Roboto';
    color: #696969;
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
    display: none;
}
.item___button__p {
    display: block !important;
}
.item___button__active > svg {
    transform: rotate(180deg);
}
.items__main__item__menu__tab__close{
    position: absolute;
    top: 5px;
    right: 5px;
    outline: none;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
}
.items__main__item__menu__tab__close > i {
    font-size: 25px;
    color: #282828;
}
.items__main__item__menu__tab__img .slick-arrow{
    z-index: 1;
    width: 37px !important;
    height: 37px !important;
}
.items__main__item__menu__tab__img .slick-arrow.slick-prev{
    left: 15px !important;
}
.items__main__item__menu__tab__img .slick-arrow.slick-next{
    right: 25px !important;
}
.items__main__item__menu__tab__img .slick-arrow:before {
    font-size: 40px !important;
}
/*---------------------|End Quick View|---------------------*/

/*---------------------|BASKET|---------------------*/

.basket {
    position: fixed;
    height: 80vh;
    /* max-width: 1440px; */
    width: 80%;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    background-color: #fff;
    /* overflow-x: hidden; */
    top: 50%  !important;
    left: 50% !important;
    transform: translate(0px , 100%);
}
.basket__active  {
    transform: translate(-50% , -50%) !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.basket__main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    
}
.basket__main .items__main__item__menu__tab__text {
    overflow: hidden;
}
.basket__main .items__main__item__menu__tab {
    padding-top: 0px !important;
}
.basket__main .items__main__item__menu__tab  .items__main__item__menu__tab__text__count > :nth-child(3) {
    width: 120px;
}
.items__main__item__menu__tab__text__text > span {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.basket__close {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    font-size: 40px;
    position: absolute;
    top: -11px;
    right: -13px;
    z-index: 4;
}
.basket__close > svg > path {
    fill: #000 !important;
}
.basket .items__main__item__menu__tab {
    position: unset;
    left: unset;
    top: unset;
    display: flex;
    z-index: 3;
    visibility: unset;
    opacity: unset;
    transform: unset;
    transition: unset;
}
.basket .items__main__item__menu__tab .items__main__item__menu__tab__close {
    display: none;
}

.basket__main__button__close {
    position: relative;
    top: 30px;
    right: 10px;
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    cursor: pointer;
}
.basket__main__button__close > i {
    font-size: 15px;
}

.add__to__cart__button__active {
    transition: .3s !important;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    outline: none;
    border: 1px solid #282828;
    background-color: #282828;
    padding: 5px 25px;
    border-radius: 25px;
    font-weight: 300;
    width: 160px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    opacity: .9;
}
.add__to__cart__button__active:hover {
    transform: none !important;
    border: 1px solid #282828 !important;
    background-color: #282828 !important;
    color: #fff !important;
}
  
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}

.basket__main > div  {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.basket__main > div  > a {
    width: 320px;
    height: 320px;
}
.basket__main > div  > a > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.basket__main > div __div__for__media {
    display: flex;
    column-gap: 70px;
    align-items: center;
    height: 100%;
    width: 100%;
}
.basket .basket__main > div  {
    height: 320px;
}
.basket__main > div  .items__main__item__menu__tab__text {
    flex-direction: unset;
    align-items: center;
    position: unset;
    height: unset;
    width: unset;
    column-gap: 70px;
    padding: 15px;
}
.basket__main > div  .items__main__item__menu__tab__text__text {
    width: 350px;
}
.basket__main > div  .items__main__item__menu__tab__text__shipping__items {
    width: 100%;
    height: 100%;
}
.basket__main > div  .items__main__item__menu__tab__text__count {
    column-gap: 20px;
}
/*---------------------|End BASKET|---------------------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 18px !important;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 18px !important;;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 18px !important;;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 18px !important;;
}
@media screen and (max-width: 1600px) {
    .items__main__item__menu__tab {
        left: 10%;
    }
}
@media screen and (max-width: 1440px) {
    .first__block__sec {
        width: 100%;
        margin: unset;
    }
    .first__block__content.slick-slide {
        /* width: unset !important; */
    }
    .first__block__content > span > img {
        border-radius: unset;
    }
}
@media screen and (max-width: 1356px) {
    .basket__main > div .items__main__item__menu__tab__text {
        flex-direction: column;
    }
}
@media screen and (max-width: 1180px) {
    .items__main__item__menu__tab {
        left: 5%;
    }
}
@media screen and (max-width: 1090px) {
    .items__main__item__menu__tab {
        left: 2%;
    }
}
@media screen and (max-width: 1080px) {
    .first__block .slick-dots {
        left: 10% !important;
    }
}
@media screen and (max-width: 1050px) {
    .items__main__item__menu__tab {
        left: 5%;
    }
    .items__main__item__menu__tab__text {
        width: 427px;
        height: 460px;
    }
    .items__main__item__menu__tab__img,
    .items__main__item__menu__tab__img > div > div > a {
        width: 460px !important;
        height: 460px !important;
    }

    .basket__main .items__main__item__menu__tab {
        flex-direction: unset;
        row-gap: unset;
        top: unset;
    }
    .basket__main .items__main__item__menu__tab__text {
        width: unset ;
        height: unset ;
        padding: unset ;    
    }
    .basket__main .items__main__item__menu__tab__img,
    .basket__main .items__main__item__menu__tab__img > div > div > a {
        width: unset;
        height: unset;
    }
}   
@media screen and (max-width: 970px) {
    .items__main__item__menu__tab {
        left: 3%;
    }
}   
@media screen and (max-width: 930px) {
    .items__main__item__menu__tab {
        left: 1%;
    }
}   
@media screen and (max-width: 900px) {
    .basket__main > div .items__main__item__menu__tab__text {
        width: 100%;
        flex-direction: column;
    }
    .basket__main > div .items__main__item__menu__tab__text__text {
        width: 100%;
    }
    .basket__main > div .items__main__item__menu__tab__text__count {
        flex-direction: column;
        row-gap: 20px;
    }
    .basket__main > div .items__main__item__menu__tab__text__count > button {
        width: 120px;
    }
    .basket__main > div > a > img {
        width: 320px;
        height: 320px;
    }
    .items__main__item__menu__tab__text__text > p {
        margin-top: 0;
    }
    .items__main__item__menu__tab__img  {
        margin: 0 auto 30px auto;
    }
    .items__main__item__menu__tab__img, .items__main__item__menu__tab__img > div > div > a {
        width: 320px !important;
        height: 320px !important;
    }
    .items__main__item__menu__tab {
        top: 0;
        flex-direction: column;
        padding-top: 30px;
        left: 28%;
        height: 100vh;
        background: #fff;
    }
    .items__main__item__menu__tab__text {
        padding-top: 0;
        width: 427px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .items__main__item__menu__tab__text__shipping__items {
        overflow-y: unset;
        overflow-x: unset;
    }
}
@media screen and (max-width: 771px) {
    .basket__main__a {
        margin: 20px auto 20px auto;
    }
    .basket__main > div > a,
    .basket__main > div > a > img {
        width: 240px;
        height: 240px;
    }
    .basket__main .items__main__item__menu__tab {
        flex-direction: column;
    }
    .basket .basket__main > div {
        height: unset;
    }
    .basket__main .items__main__item__menu__tab {
        position: relative;
        left: 0 !important;
        top: 0 !important;
    }
    .basket__main__button__close {
        position: absolute;
    }
    .items__main__item__menu__tab {
        left: 14%;
    }
}
@media screen and (max-width: 700px) {
    .first__block .slick-dots li button {
        width: 34px !important;
    }
    .first__block .slick-dots {
        width: 167px !important;
    }
    .first__block__content.slick-slide {
        height: 370px !important;
    }
}
@media screen and (max-width: 550px) {
    .items__main__item__menu__tab {
        left: 7%;
    }
}
@media screen and (max-width: 506px) {
    .items__main__item__menu__tab__text {
        row-gap: 20px;
    }
    .items__main__item__menu__tab__text__text > p {
        margin-top: 10px;
    }

}
@media screen and (max-width: 500px) {
    .first__block__content.slick-slide {
        height: 370px !important;
    }
    .first__block__content__text > span:nth-child(1) {
        font-size: 35px;
    }
    .first__block__content__text > span:nth-child(2) {
        font-size: 15px;
    }
    .first__block__content__text {
        row-gap: 10px;
    }    
}
@media screen and (max-width: 480px) {
    .items__main__item__menu__tab {
        left: 4%;
    }
}
@media screen and (max-width: 460px) {
    .items__main__item__menu__tab {
        width: 100%;
        left: 0%;
    }
    .items__main__item__menu__tab__text {
        width: 100%;
    }
}
@media screen and (max-width: 360px) {
    .items__main__item__menu__tab__text__count > :nth-child(2) {
        width: 130px;
        font-size: 12px;
    }
    .items__main__item__menu__tab__text__count > div:nth-child(1) {
        width: 90px;
    }
    .items__main__item__menu__tab__text__shipping__items > div {
        padding-top: 5px;
    }
    .items__main__item__menu__tab__text__shipping__items {
        row-gap: 5px;
    }
}
@media screen and (max-width: 335px) {
    .basket__main__button__close {
        right: 7px;
    }
}

/*---------------------| Max Height |---------------------*/